* {
    background-color: #ffffff;
    position: relative;
}

body {
    background-image: url("./nc68656.png");
    background-color:rgba(255,255,255,0.8);
    background-blend-mode:lighten;
}



a, a:visited{
    color: #000000;
}

header .col{
    height: 2.5em;
}

.navi{
    vertical-align: middle;
    font-size: small;
}

header, .note, #author, #author > a, h1, h1 > span, .container, .row{
    background-color: transparent;
}

#author{
    position: absolute;
    top: 10%;
    left: 85%;
}

.number_pokemons, #timer, .remaining_number{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#input_answer{
    width: 7em;
}

#input_answer:focus::placeholder {
    color: transparent;
  }

#button_tweet{
    color: #ffffff;
}

.col-auto{
    padding-right: 6px;
}

.table-sticky-wrap{
    max-height: 600px;
    overflow: scroll;
}

.xx-small{
 font-size: xx-small;
}

#thead_pokedex_number tr{
    border: 1px #dee2e6; 
}

th{
    position: sticky;
    top: 0;
    z-index: 1;
}

.td_name_pokemon{
    white-space:nowrap;
    position: relative;
}

.name_pokemon{
    position: absolute;
    left: 3%;
}

.li_pokemon{
    width: 30px;
    height: 30px;
    text-align: center;
    background-image: url("unknown.png");
    background-size: cover;
}

.found{
    background-image: none;
}

.image_pokemon{
    height: 100%;
}