* {
    background-color: #ffffff;
}

body {
    background-image: url("./nc68656.png");
    background-color:rgba(255,255,255,0.8);
    background-blend-mode:lighten;
}

h1, h1 > span, .container, .row{
    background-color: transparent;
}

#input_answer{
    width: 7em;
}

.btn-info{
    color: #ffffff;
}

.table-sticky-wrap{
    height: 500px;
    overflow: scroll;
}

.xx-small{
 font-size: xx-small;
}

#thead_pokedex_number tr{
    border: 1px #dee2e6; 
}

th{
    position: sticky;
    top: 0;
    z-index: 1;
}

.td_name_pokemon{
    white-space:nowrap;
    position: relative;
}

.name_pokemon{
    position: absolute;
    left: 3%;
}

.image_pokemon{
    position: absolute;
    right: 3%;
    width: 2em;
}